name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Basic code validation test
      id: basic-code-validation-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Basic code validation test
        setup-command: npm install
        command: npm test
        timeout: 10
        max-score: 2
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        BASIC-CODE-VALIDATION-TEST_RESULTS: "${{steps.basic-code-validation-test.outputs.result}}"
      with:
        runners: basic-code-validation-test
